################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Advanced_Flight_Simulator
/.vs/Advanced_Flight/v16
/.vs/Advanced_Flight_Simulator/v16/Server/sqlite3
